// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body{
    height: 100%;
}

nav{
    img{
        height: 48px;
        border-radius: 50%;
    }    
}

.edit-avatar{
    img{
        height:128px;
        border-radius: 50%;
        
    }
}
.status{
    img{
        height:72px;
        width:72px;
        border-radius: 50%;
    }
}

.pagination{
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 48px;
    }
